body{
	margin:0;
}

.steps{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left: 0;
	transition:transform 300ms ease-out;
}

#step1{
	background:#dedede;
}

#step2{
	background:#ababab;	
}

#step3{
	
}